{{range . }}
{{- .FixDateS}}{{"\t"}}
{{- if .OpDate.IsZero}}{{"\t"}}{{else}}{{.OpDateS}}{{end}}{{"\t"}}
{{- .AccountAmount.String}}{{"\t"}}
{{- if eq .AccountAmount.Currency .OperationAmount.Currency }}{{"\t"}}{{else}}{{.OperationAmount.String}}{{end}}{{"\t"}}
{{- if eq .Shop ""}}
{{- printf "%.50s" .Place}}
{{- else}}
{{- .Place}} - {{.Shop}}
{{- end}}
{{end}}
