{{range . }}
{{- .AccDateS}}{{"\t"}}
{{- if .TxDate.IsZero}}{{"\t"}}{{else}}{{.TxDateS}}{{end}}{{"\t"}}
{{- .AccAmount.String}}{{"\t"}}
{{- if eq .AccAmount.Currency .TxAmount.Currency }}{{"\t"}}{{else}}{{.TxAmount.String}}{{end}}{{"\t"}}
{{- if eq .Shop ""}}
{{- printf "%.50s" .Place}}
{{- else}}
{{- .Place}} - {{.Shop}}
{{- end}}
{{end}}
